.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.header img{
    width: 15%;
    height:15%;
}
.header a{
    text-decoration: none;
    color: red;
}
.header input{
    width: 300px;
    height: 40px;
}
.searchBox{
    padding: 5px;
}



