.button{
    background-color: #ffbb00;
}
.ggIn {
    border-radius: 10px;
    border:1px solid rgb(184, 177, 177); 
    text-align: left; 
}
.fbIn{
    border-radius: 10px;
    border:1px solid rgb(184, 177, 177);  
    text-align: left; 
}
.ggSign{
    width:15%;
    height:8%;
    padding-right: 30px;
    padding-left: 5px;
}
.fbSign{
    width:15%;
    height:8%;
    padding-right: 30px;
    padding-left: 5px;
}
h4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
h4 span {
    background: #fff;
    padding: 0 10px;
}