.bg{
    background: url("../../Images/Image/Rectangle-1.png") rgba(177, 157, 157, 1);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 700px;
    padding-top: 5px;
    
}
.font-style{
    text-align: justify;
    font-size:18px;
    line-height: 24px;
    padding:20px;
    color: red;
}
